.App {
    padding: 30px;
    display: flex;
    background: #5556;
    height: 100vh;
}

.App > div {
    margin-right: 50px;
    height: max-content;
    background: lightgreen;
    border: black 2px solid;
}


.task {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255,255,0);
    font-weight: bold;
    margin-bottom: 3px;
}

.task-done {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255,0,255);
    margin-bottom: 3px;
    opacity: 0.8;

}
.list {
    list-style: none;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}
.active-filter {
    background-color: gold;
}

