.App {
    padding: 30px;
    display: flex;
    background: #5556;
    height: 100vh;
}

.App > div {
    margin-right: 50px;
    height: max-content;
    background: lightgreen;
    border: black 2px solid;
}
